<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gavin.dao.DepartmentDao">
    <insert id="addDepartment">
        insert into T_DEPARTMENT values (
        DEPARTMENT_SEQ.nextval,#{dep_name},#{dep_time}
        )
    </insert>
    <delete id="deleteDepartment">
        delete from T_DEPARTMENT where DEP_ID=#{dep_id}
    </delete>

    <update id="updateDepartment">
        update T_DEPARTMENT set DEP_NAME=#{dep_name} where dep_id={dep_id}
    </update>

    <select id="getDepartmentAll" resultType="Department">
        select * from T_DEPARTMENT
    </select>

    <select id="getDepartment" resultType="Department">
        select * from T_DEPARTMENT where DEP_ID=#{dep_id}
    </select>

</mapper>